@charset "utf-8";
/* CSS Document */

body {
	background-color: aquamarine
}

h2 {
	color: blue;
	text-decoration: wavy 5px blue;
}
img {
	width: 350px;
	border: 15px dotted blue;
	border-radius: 50%
}
img: hover {
	border:25px dashed black;
}
